



/* .scroll {
    position: fixed;
    border-radius: 5px;
    outline-style: none;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: -50px;
    background-color: var(--blue);
    height: 30px;
    width: 30px;
    text-align: center;
    font-weight: 900;

} */

